@font-face {
    font-family: "Jost";
    src: url("./font/Jost-VariableFont_wght.ttf"),
         url("./font/Jost-Italic-VariableFont_wght.ttf");
}

*{
    margin:0;
    padding:0;
    position: relative;
    box-sizing: border-box; 
    font-family: "Jost",sans-serif;
    font-weight: bold;
}